html {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-weight: 300;
    font-size: 21px;
    color: grey;
}

a {
    font-size: 16px;
    color: aquamarine;
}

footer {
    text-align: right;
}